<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<title><%= page.title %></title>

<script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>

<link href="/css/water.css" rel="stylesheet">
<link href="/css/glyphicon.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/odifavicon32.ico">

</head>
<body>
	<div id="contentOverlay" class="overlay">
		<div id="overlay-content" class="overlay-content" style="width: 90%; margin: auto; margin-top: 20px; max-height: 90vh;">
			<span class="close-btn" onclick="closeOverlay()" style="right: 40px;
			top: 20px;
			font-size: 3rem;
			font-weight: normal;">&times;</span>
			<div id="overlay-content-inner" style="overflow-y: scroll; min-width: 100%;"></div>
		</div>
	</div>
	<header class="header">
		<p class="version"><a href="<%= software.versionLink %>" target="_blank">v<%= software.version %></a></p>
		<div class="container">
			<div class="header-top">
			<a href="/" class="logo"></a>
			<nav class="main-nav" aria-label="Main Menu">
				<ul>
				<% if(user) { %>
					<li><a href="/private" class="toggle-link <% if (page.link === '/private') { %>selected<% } %>">Private Page</a></li>
					<li>
						<a style="padding: 0;" class="toggle-link <% if (page.link === '/auth/profile') { %>selected<% } %>" href="/auth/profile"><%= user ? (user.displayName || (user.first_name && user.last_name ? user.first_name + ' ' + user.last_name : user.email)) : 'Guest' %></a>
						<form style="display: inline-flex;" id="logout_form" action="/auth/logout" method="post">
							 &nbsp;(<a href="javascript:;" onclick="document.getElementById('logout_form').submit();">Logout)</a>
						</form>
					</li>
				<% } else { %>
					<li><a href="/auth/google" class="toggle-link">Login</a></li>
				<% } %>
				</ul>
			</nav>
			</div>
		</div>
	</header>