# Server config
PORT=3080
HOST=http://localhost:{PORT}

# ODI OAuth Credentials
DJANGO_CLIENT_ID=your_django_client_id
DJANGO_CLIENT_SECRET=your_django_client_secret
DJANGO_CALLBACK_URL=/auth/django/callback

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=/auth/google/callback

# Session Secret
SESSION_SECRET=your_session_secret