<%- include('../partials/header') %>
<div class="container box">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span>401: Authorisation required</h1>
    </div>
</div>
<%- include('../partials/footer') %>