<%- include('../partials/header') %>
<div class="container box">
    <div class="jumbotron text-center text-primary">
        <h1>404: Page Not Found</h1>
    </div>
</div>
<%- include('../partials/footer') %>
