<%- include('../partials/header', { data: data }) %>
<div class="container box">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span>Page 2 - Login Required</h1>
    </div>
</div>
<%- include('../partials/footer') %>